{
  "anusthan-bungalow": [],
  "akshat-paradise": [],
  "amogha-shantigram": [],
  "atharv-abode": [],
  "auntynoz-pizza": [],
  "aegis-steel-cast": [],
  "bhagwati-hardware": [],
  "paldi-residence": [],
  "bharwad-residence": [],
  "sharma-residence": [],
  "jaipur-residence": [],
  "krishna-avenue-ghodasar": [],
  "karnavati-7": [],
  "karnavati-7-b-wing": [],
  "corporate-office": [],
  "rr-gandhinagar": [],
  "setu-solitaire": [],
  "setu-solitaire-chandkheda": [],
  "skylon-residency": [],
  "sp-nirwana": [],
  "super-shaligram": [],
  "anusthan-harmony": []
}
