{
  "anusthan-bungalow": [],
  "akshat-paradise-f501": [],
  "amogha-shantigram": [],
  "atharv-abode-a604": [],
  "auntynoz-pizza": [],
  "aegis-steel-cast": [],
  "bhagwati-hardware": [],
  "paldi-402": [],
  "bharwad-residence": [],
  "sharma-residence": [],
  "jaipur-residence": [],
  "krishna-avenue-ghodasar": [],
  "karnavati-7-101-104": [],
  "karnavati-7-b301": [],
  "office-434": [],
  "rr-gandhinagar-b703": [],
  "setu-solitaire-a302": [],
  "setu-solitaire-a602": [],
  "skylon-gota-a501": [],
  "sp-nirwana-b1102": [],
  "super-shaligram": [],
  "anusthan-harmony": []
}
